
body {
    background-color: black;
    background-size: 1280px 1938px;
    background-size: 30%;
}

h1 {
    color: white;
    text-align: center;

}

h2{
 font-family: Verdana;
 font-weight: 300;
 font-size: 42px;
 color: white;
 text-align: center;
}

h3 {
    font-family: Verdana;
    font-size: 21px;
    color:gray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    text-align: right;
    color:white;
}